<!-- -->
<launch>

    <arg name="project" default="lio_sam"/>
<!-- for hesai  -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.0162 0.0208 -0.0644 2.9134 -0.0008 0.0147 base_footprint xsens_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 base_footprint PandarXT-32 100" />


<!-- for ouster  -->   
    <!-- <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0.5 0 0 0 base_footprint robot_1/os_imu 100" />
    <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster" args="0 0 0.5 0 0 0 base_footprint robot_1/os_sensor 100" /> -->
   
    <!-- <node pkg="tf" type="static_transform_pu 0 0 0 0 base_footprint os_imu blisher" name="uwb_broadcaster32" args="0 0100" /> -->

    <!-- Parameters -->
   <!-- <rosparam file="$(find lio_sam)/config/muti_lidars_params.yaml" command="load" />  -->
    <!-- <rosparam file="$(find lio_sam)/config/ouster_params.yaml" command="load" /> -->
    <!-- <rosparam file="$(find lio_sam)/config/ouster_params_dog.yaml" command="load" /> -->
    <!--<rosparam file="$(find lio_sam)/config/params_velodyne.yaml" command="load" />-->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />
    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
<!--     <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" /> -->

    <!--- Run Navsat -->
<!--     <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
<!--     <include file="$(find lio_sam)/launch/include/module_rviz.launch" /> -->

</launch>
